:root {
  --bg-color: #EDF2F4;
  --color: #0B0A07;
  --link: #e2e5e8;  /*#564787;*/
  --primary: #DB5375;
  --secondary: #D16666;
  --border: #EDF2F4;
}

[data-theme="dark"] {
  --bg-color: #0B0A07;
  --color: #EDF2F4;
  --border: #EDF2F4;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color);
  background-color: var(--bg-color);
  overflow-x: hidden;
}

a {
  color: var(--link) !important;
}

.primary {
  color: var(--primary) !important;
}

.btn-primary {
  background-color: var(--bg-color) !important;
  border-color: var(--primary) !important;
  color: var(--primary) !important;
}

.btn-primary:hover {
  background-color: var(--primary) !important;
  color: var(--link) !important;
  border-color: var(--primary) !important;
}

/*  Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: var(--bg-color);
  background-image: url(./Assets/amongus.gif);
  background-repeat: no-repeat;
  background-position: center;
}

#preloader-none {
  opacity: 0;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* --------- */
/* Navbar Section  */
/* --------- */
.sticky {
  background-color: var(--bg-color) !important;
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0px 0.5px 50px 0px var(--color) !important;
  backdrop-filter: blur(15px) !important;
}

.navbar {
  position: fixed !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 0.3rem 2rem !important;
  font-size: 1.2rem !important;
}
.nav-item {
  text-align: center;
}

.nav-theme {
  display: flex;
  justify-content: center;
}

.navbar-toggler {
  background-color: var(--primary);
}

@media (max-width: 767px) {
  .navbar {
    padding: 1rem 2rem !important;
    font-size: 1.4rem !important;
    background-color: var(--bg-color) !important;
  }
  .navbar-nav .nav-item a::after {
    display: none !important;
  }
}
.navbar-brand {
  color: var(--color) !important;
}

.logo {
  height: 1.4em !important;
  width: 2.5em !important;
}

.navbar-nav .nav-link {
  color: var(--color) !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.nav-link {
  padding: 0.8rem 1rem !important;
}

@media (max-width: 767px) {
  .nav-link {
    padding: 0.7rem 1rem !important;
  }
}

.navbar-nav .nav-item {
  position: relative;
  margin: 0 0 0 20px;
}

.navbar-nav .nav-item a {
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
  border: none;
}

.navbar-nav .nav-item a::after {
  content: "";
  position: relative;
  display: block;
  height: 5px;
  width: 0;
  border-radius: 16px;
  background: var(--primary);
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
}

/* --------- */
/* Footer */
/* --------- */
.footer {
  background-color: var(--secondary);
  bottom: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 8px !important ;
}
.footer-copywright {
  text-align: center !important;
}

.footer-body {
  z-index: 1;
  text-align: center !important;
}

@media (max-width: 767px) {
  .footer-copywright {
    text-align: center !important;
  }

  .footer-body {
    text-align: center !important;
  }
}

.footer h3 {
  font-size: 1em;
  color: var(--color) !important;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}
.footer-icons {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  padding: 0 !important;
}

.blockquote-footer {
  color: var(--secondary) !important;
}

.like-item {
  padding-top: 10px !important;
  font-size: 1.1em !important;
  font-family: sans-serif !important;
}

.like-btn {
  background-color: var(--primary) !important;
  border-color: var(--border) !important;
  padding: 0.25rem 0.98rem !important;
  border-radius: 5px !important;
  line-height: 1.4 !important;
  transition: 0.3s ease !important;
}

.like-btn:hover {
  transform: translateY(-2px) !important;
  background-color: var(--bg-color) !important;
  border-color: var(--border) !important;
}

.animate-like {
  animation-name: likeAnimation;
  animation-fill-mode: forwards;
  animation-duration: 0.85s;
}
@keyframes likeAnimation {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.fork-btn {
  font-size: 1.1em !important;
  padding-top: 10px !important;
}

.fork-btn-inner {
  line-height: 1.4em !important;
  background-color: var(--bg-color) !important;
  padding: 0.25rem 1.1rem !important;
  vertical-align: middle !important;
  text-align: center !important;
  border: 1px solid var(--primary) !important;
}

.fork-btn-inner:hover {
  transform: translateY(-2px) !important;
  background-color: var(--primary) !important;
  border-color: var(--secondary) !important;
}
.fork-btn-inner::after {
  display: none !important;
}